@model RentalAdmin.Models.Blog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogSlug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogSlug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogImageAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogImageAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogSubTilte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogSubTilte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogImageAddressSmall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogImageAddressSmall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayLanguage.DisplayLanguageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayLanguage.DisplayLanguageName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
