@model IEnumerable<RentalAdmin.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerInsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCountry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerInsertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCountry)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
